body {
  margin: 0;
  font-family: Montserrat, sans-serif;
}

.navbar {
  background-color: #156AB1FF;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links li a:hover {
  color: #ffd700;
}

.home-container {
  padding: 4rem 2rem;
  text-align: center;
}

.home-container h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.home-container p {
  font-size: 1.2rem;
  color: #555;
}

.carousel-wrapper {
  max-width: 800px;
  margin: 2rem auto;
}

.carousel .legend {
  background: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
}

.carousel-slide {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.carousel-slide img {
  width: 70%;
  height: 350px; /* or any height you prefer */
  object-fit: cover;
  border-radius: 8px;
}

.logout-btn {
  background: white;
  font-weight: 500;
  color: #333;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  transition: color 0.3s ease;
}

.logout-btn:hover {
  background: rgba(119, 250, 255, 0.75);
  color: white;
}