/* src/components/Registration.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

.registration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  font-family: 'Montserrat', poppins, sans-serif;

  background-image: url('https://static.vecteezy.com/system/resources/previews/017/004/963/large_2x/abstract-colorful-background-blue-teal-sky-cold-gradient-color-gradiant-illustration-blue-teal-color-gradiant-background-vector.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.registration-form-container {
  position: relative; /* Added relative positioning for the close button */
  width: 100%;
  max-width: 400px;
  padding: 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.registration-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  font-size: 1rem;
  margin-bottom: 5px;
  color: #555;
}

.input-group input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  outline: none;
  transition: border-color 0.3s ease;
}

.input-group input:focus {
  border-color: #007BFF;
}

.register-btn {
  padding: 12px;
  font-size: 1.2rem;
  background-color: #156AB1FF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-btn:hover {
  background-color: #3ebde4;
}

.register-btn:active {
  background-color: #156AB1FF;
}

/* Close button (X) inside the registration form container */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-btn:hover {
  color: #156AB1FF;
}

.checkbox-group {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 15px;
}

.password-group .input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input-wrapper input {
  width: 100%;
  padding-right: 40px; /* space for the icon */
}

.toggle-password {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #888;
  font-size: 1.1rem;
}